body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 380px;
    left: 150px;
    /* transform: scale(-1,1); */
    /* width: 600px;
    height: 600px; */
}
#canvas2 {
    position: absolute;
    top: 380px;
    left: 1000px;
    /* transform: scale(-1,1); */
    /* width: 600px;
    height: 600px; */
}

/* Health Bars */
#health-container-one {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 7%;
    width: 33%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
    display: none;
}

#health-one {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #922724;
}

#health-container-two {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 60%;
    width: 33%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
    display: none;
}

#health-two {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #922724;
    margin-left: 0%;
}

/* Timer */
#timer-container {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    display: none;
}

#timer {
    /* font-size: large; */
    color: #f7ddbe;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 90px;
    /* display: none; */
}


/* .controls{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
} */

.controls, select, option {
    font-size: 25px;
}

/* Player Names */
#player-one-name {
    position: absolute;
    z-index: 10;
    top: 4%;
    left: 8%;
    /* font-family: 'Bidzina', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
    color:deeppink;
    display: none;
}

#player-two-name {
    position: absolute;
    z-index: 10;
    top: 4%;
    right: 8%;
    /* font-family: 'Bidzina', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
    /* color: red; */
    color: deeppink;
    display: none;
}

#ready-win-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    
}

#ready-win-text {
    position: relative;
    z-index: 10;
    font-family: 'Press Start 2P', cursive;
    font-size: 90px; 
    color: orange;
}

#pause-text-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

#pause-text {
    position: relative;
    display: none;
    z-index: 10;
    font-family: 'Press Start 2P', cursive;
    font-size: 90px; 
    color: orange;
}


/* Start Page */

#start-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/startPage/startPageBackground.jpg);
    background-size: 100%;
    z-index: 5;
}

#start-page p {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
    color: orange;

}

@keyframes fade-inout{
    0% {opacity: 1;}
    100%{opacity: 0;}
}

#start-page p {
    animation: fade-inout 1.5s infinite alternate;
}

/* map selection */
#showcase{
    width: 40%;
    height: 300px;
    margin: auto;
    position: relative;
    top:70px;
    background-image: url(../images/startPage/startPageBackground.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: gold ridge 10px;
    display: none;
}
#options{
    position: relative;
    top:100px;
    display: flex;
    margin-top: 50px;
    justify-content:space-around;
    align-items: center;

}
#mapbg{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
#options div{
    width: 250px;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    
    border: white solid 10px;
}
#options div:hover{
    border: blue solid 12px;
    transition: 0.5s;
    transform: translateY(-10px);
}
#options div:active{
    border: green solid 10px;
    transition: 0.1s;
    transform: translateY(+10px);
}