body {
    margin: 0;
    overflow: hidden;
}
#canvas1 {
    position: absolute;
    top: 380px;
    left: 150px;
    /* transform: scale(-1,1); */
    /* width: 600px;
    height: 600px; */
}

/* Health Bars */
#health-container-one {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 10%;
    width: 30%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
}

#health-one {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
}

#health-container-two {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 60%;
    width: 30%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
}

#health-two {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    margin-left: 0%;
}

/* Timer */
#timer-container {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
}

#timer {
    font-size: large;
    color: #f7ddbe;
    font-family: 'Bidzina', sans-serif;
    font-size: 90px;
}


/* .controls{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
} */

.controls, select, option {
    font-size: 25px;
}