body {
    margin: 0;
    overflow: hidden;
}
#canvas1 {
    position: absolute;
    top: 380px;
    left: 150px;
    /* transform: scale(-1,1); */
    /* width: 600px;
    height: 600px; */
}
#canvas2 {
    position: absolute;
    top: 380px;
    left: 1000px;
    /* transform: scale(-1,1); */
    /* width: 600px;
    height: 600px; */
}

/* Health Bars */
#health-container-one {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 7%;
    width: 33%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
    display: none;
}

#health-one {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #922724;
}

#health-container-two {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 60%;
    width: 33%;
    height: 3%;
    border: 3px solid grey;
    border-radius: 16px;
    background-color: #e5e8e1;
    display: none;
}

#health-two {
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #922724;
    margin-left: 0%;
}

/* Timer */
#timer-container {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    display: none;
}

#timer {
    /* font-size: large; */
    color: #f7ddbe;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 90px;
    /* display: none; */
}


/* .controls{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
} */

.controls, select, option {
    font-size: 25px;
}

/* Player Names */
#player-one-name {
    position: absolute;
    z-index: 10;
    top: 4%;
    left: 8%;
    /* font-family: 'Bidzina', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
    color:deeppink;
    display: none;
}

#player-two-name {
    position: absolute;
    z-index: 10;
    top: 4%;
    right: 8%;
    /* font-family: 'Bidzina', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
    /* color: red; */
    color: deeppink;
    display: none;
}

#ready-win-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    
}

#ready-win-text {
    position: relative;
    z-index: 10;
    /* font-family: 'Bidzina', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    font-size: 90px; 
    /* color: #585858; */
    color: orange;
    /* display: none; */
}


/* Start Page */

/* #start-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/startPage/startPageBackground.jpg);
    background-size: 100%;
    z-index: 15;
}

#flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selection-container {
    display: block;
    margin: 4px;
    width: 20%;
    height: 40%;
}

.selection-preview {
    width: 100%;
    height: 80%;
    background: url(/images/startPage/backgrounds/dhalsimBG.jpeg);
    background-size: cover;
    border: 6px solid red;
    border-radius: 16px;
    margin-bottom: 5%;
}

.selection-form {
    position: absolute;
    background-color: yellow;;
} */
